In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('green_tripdata_2019-01.csv', nrows=100)

In [4]:
df.columns

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge'],
      dtype='object')

In [5]:
df['lpep_pickup_datetime'] = pd.to_datetime(df['lpep_pickup_datetime'])
df['lpep_dropoff_datetime'] = pd.to_datetime(df['lpep_dropoff_datetime'])

In [26]:
from sqlalchemy import create_engine

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [27]:
engine.connect()

In [8]:
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [21]:
df_iter = pd.read_csv('green_tripdata_2019-01.csv', iterator=True, chunksize=100_000)

In [22]:
df = next(df_iter)

In [23]:
len(df)

100000

In [24]:
df['lpep_pickup_datetime'] = pd.to_datetime(df['lpep_pickup_datetime'])
df['lpep_dropoff_datetime'] = pd.to_datetime(df['lpep_dropoff_datetime'])

In [28]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [29]:
%time df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

CPU times: user 4.93 s, sys: 44.4 ms, total: 4.97 s
Wall time: 9.38 s

1000

In [30]:
from time import time

In [31]:
while True:
    t_start = time()

    try:
        df = next(df_iter)
        
        df['lpep_pickup_datetime'] = pd.to_datetime(df['lpep_pickup_datetime'])
        df['lpep_dropoff_datetime'] = pd.to_datetime(df['lpep_dropoff_datetime'])

        df.to_sql(name='green_taxi_data', con=engine, if_exists='append')
    except:
        break

    t_end = time()

    print('Inserted another chunk, took %.3f second' % (t_end - t_start))

Inserted another chunk, took 10.279 second
Inserted another chunk, took 10.232 second
Inserted another chunk, took 8.937 second
Inserted another chunk, took 9.031 second
Inserted another chunk, took 8.823 second
Inserted another chunk, took 3.229 second

In [32]:
df_zone = pd.read_csv('./taxi_zone_lookup.csv')
df_zone.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [33]:
df_zone.to_sql(name='taxi_zone', con=engine, if_exists='replace')

265